{% load static %}
<header class="header">
    <img class="logo-img" src="{% static 'img/logo.svg' %}" alt="로고 이미지">
    <div class="banner">
        <span class="current-banner">게시판</span>
        <span class="other-banner">강의실</span>
        <span class="other-banner">시간표</span>
        <span class="other-banner">학점계산기</span>
    </div>
    <div class="users-menu">
        <img class="alert" src="{% static 'img/alert.svg' %}" alt="알림 이미지">
        <img class="profile-picture" src="{% static 'img/profile_pic.svg' %}" alt="프로필 사진">
    </div>
</header>

<div class="delete-modal-wrap" id="dev-modal-wrap" style="display: none;">
    <div class="modal-content warning-modal-content">
        <img src="{% static 'img/warning_navy.svg' %}" alt="안내" class="modal-warning-icon">
        <div class="warning-q">현재 개발 중인 기능입니다.</div>
        <div class="modal-desc" style="color: #737373; font-size: 14px; margin-top: 10px;">
            더 나은 서비스를 위해 준비 중이니<br>조금만 기다려주세요.
        </div>
    </div>
</div>