{% load static %}
<header class="header">
    <img class="logo-img" src="{% static 'img/logo.svg' %}" alt="로고 이미지">
    <div class="banner">
        <span class="current-banner">게시판</span>
        <span class="other-banner">강의실</span>
        <span class="other-banner">시간표</span>
        <span class="other-banner">학점계산기</span>
    </div>
    <div class="users-menu">
        <img class="alert" src="{% static 'img/alert.svg' %}" alt="알림 이미지">
        <img class="profile-picture" src="{% static 'img/profile_pic.svg' %}" alt="프로필 사진">
    </div>
</header>